<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <p>
      <a class="botonAgregar" href="/movies">Lista de peliculas</a>
      <a class="botonVolver" href="/movies/add">Agregar pelicula</a>
  </p>
  </body>
</html>
